@import "./nullstyle.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./vars.scss";

.main{
  background: $main-grey;
  border-top-left-radius: 38px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 67px;
}




//calc(20px + (20+50) * ((100vw - 320px) / (1600 - 320)));