@import "./nullstyle.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./vars.scss";

.main{
  background: $main-grey;
  border-top-left-radius: 38px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 67px;
}
.person-stat {
  width: 470px;
  padding: 34px 25px 29px;
  background: $white;
  border-radius: 34px;
 &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 45px;
  }
  &__bg {
    width: 140px;
    height: 140px;
    text-align: center;
    background: $col-light-orange;
    border-radius: 38px;
  }
  &__svg {
    margin-top: 42px;
  }
}
.center-section {
  width: 721px;
  height: 501px;
  background: $white;
  border-radius: 34px;
  padding: 34px 40px 60px;
}



//calc(20px + (20+50) * ((100vw - 320px) / (1600 - 320)));